<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>[= $name =]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link rel="stylesheet" href="[= $get_path->('/static/lightbox/css/lightbox.css') =]">
    <link rel="stylesheet" href="[= $get_path->('/static/css/overcast/jquery-ui-1.11.2.min.css') =]">
    <link rel="stylesheet" href="[= $get_path->('/static/css/overcast/jquery-ui-1.11.2.structure.min.css') =]">
    <link rel="stylesheet" href="[= $get_path->('/static/css/overcast/jquery-ui-1.11.2.theme.min.css') =]">
    <link href="[= $get_path->('/static/css/bootstrap.min.css') =]" rel="stylesheet">
    <style type="text/css">
     body {
       padding-top: 40px;
       padding-bottom: 40px;
       background-color: #f5f5f5;
     }

     .form-input {
       max-width: 800px;
       padding: 19px 29px 29px;
       margin: 0 auto 20px;
       background-color: #fff;
       border: 1px solid #e5e5e5;
       -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
               border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
     }
     .form-input .form-signin-heading,
     .form-input .checkbox {
       margin-bottom: 10px;
     }
     .form-input input[type="text"],
     .form-input input[type="password"] {
       font-size: 16px;
       height: auto;
       margin-bottom: 15px;
       padding: 7px 9px;
     }
     .image-slides {
       display: none;
     }
     .one-product {
       width: 250px;
       float: left;
       margin: 5px;
       max-height: 280px;
       min-height: 200px;
     }
     .one-product label {
       bottom: 0px;
     }

    </style>
    <link href="[= $get_path->('/static/css/bootstrap-theme.min.css') =]" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="[= $get_path->('/static/ico/favicon.ico') =]">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="[= $get_path->('/static/ico/apple-touch-icon-144-precomposed.png') =]">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="[= $get_path->('/static/ico/apple-touch-icon-114-precomposed.png') =]">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="[= $get_path->('/static/ico/apple-touch-icon-72-precomposed.png') =]">
    <link rel="apple-touch-icon-precomposed" href="[= $get_path->('/static/ico/apple-touch-icon-57-precomposed.png') =]">
  </head>

  <body>

    <div class="container">

      <form id="form1" class="form-input form-horizontal" method="POST" action="[= $get_path->($action_base, '/confirm') =]" role="form">
        <h2 class="form-signin-heading">[= $name =]</h2>
        <?pl if( length( $description ) ) { ?>
        <blockquote><p>
            <?pl if( $use_tag->{description} ) { ?>
            [== $description =]
            <?pl } else { ?>
            [== $html_br->( $description ) =]
            <?pl } ?>
        </p></blockquote>
        <?pl } ?>
        <?pl if( length( $message ) ) { ?>
        <blockquote><p>
            <?pl if( $use_tag->{message_input} ) { ?>
            [== $message =]
            <?pl } else { ?>
            [== $html_br->( $message ) =]
            <?pl } ?>
        </p></blockquote>
        <?pl } ?>
        <?pl if( $has_products ) { ?>
        <div class="form-group">
          <?pl if( length( $product_message ) ) { ?>
          <label class="col-sm-10">[= $product_message =]</label>
          <?pl }  ?>
          <div id="products" class="col-sm-offset-2 col-sm-10">
          <?pl foreach my $p ( @{$product_list} ) { ?>
            <div class="one-product">
            <?pl if( $use_product_image ) { ?>
              <?pl if( $p->{images}->{has_image} ) { ?>
                  <?pl my $slide_st = 0; ?>
                  <?pl if( $p->{images}->{has_thumb} ) { ?>
              <label><input type="checkbox" value="[= $p->{id} =]" name="products"<?pl if( grep( $_ eq $p->{id}, @{ $params->{products} } ) ) { ?> checked="checked"<?pl } ?>>[= $p->{name} =]</label>
              <div class="image-thumb">
                <a href="[= $p->{images}->{thumb}->{url} =]" data-lightbox="prod-[= $p->{id} =]" data-title="[= $p->{name} =]">
                  <img src="[= $p->{images}->{thumb}->{thumb_url} =]" alt="[= $p->{images}->{thumb}->{name} =]" />
                </a>
              </div>
                  <?pl } else { ?>
                  <?pl $slide_st = 1; ?>
              <input type="checkbox" value="[= $p->{id} =]" name="products"<?pl if( grep( $_ eq $p->{id}, @{ $params->{products} } ) ) { ?> checked="checked"<?pl } ?>>
              <a href="[= $p->{images}->{slides}->[0]->{url} =]" data-lightbox="prod-[= $p->{id} =]" data-title="[= $p->{images}->{slides}->[0]->{name} =]">[= $p->{name} =]</a>
                  <?pl } ?>
              <div class="image-slides">
                  <?pl for( my $i = $slide_st; $i < scalar @{ $p->{images}->{slides} }; $i ++ ) { ?>
                <a href="[= $p->{images}->{slides}->[$i]->{url} =]" data-lightbox="prod-[= $p->{id} =]" data-title="[= $p->{images}->{slides}->[$i]->{name} =]">[= $p->{name} =]</a>
                  <?pl } ?>
              </div>
                
              <?pl } else { ?>
              <label><input type="checkbox" value="[= $p->{id} =]" name="products"<?pl if( grep( $_ eq $p->{id}, @{ $params->{products} } ) ) { ?> checked="checked"<?pl } ?>>[= $p->{name} =]</label>
              <?pl } ?>
            <?pl } else { ?>
              <label><input type="checkbox" value="[= $p->{id} =]" name="products"<?pl if( grep( $_ eq $p->{id}, @{ $params->{products} } ) ) { ?> checked="checked"<?pl } ?>>[= $p->{name} =]</label>
            <?pl } ?>
            </div>
          <?pl } ?>
          </div>
        </div>
        <?pl } ?>
        <?pl foreach my $f ( @{$field_list} ) { ?>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="[= $f->{name} =]">[= $f->{desc} =]</label>
          <div class="col-sm-8">
            [== $forms->{ $f->{name} } =]
            <span class="help-inline">
              <?pl if( exists $messages->{ $f->{name} } ) { ?>
              <p class="text-danger">[= $messages->{ $f->{name} } =]</p>
              <?pl } ?>
            </span>
          </div>
        </div>
        <?pl } ?>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <button id="btn-submit" class="btn btn-block btn-primary" type="submit">確認</button>
          </div>
        </div>
        <?pl if( $params->{is_admin} ) { ?>
        <input type="hidden" name="is_admin" value="1" />
        <?pl } ?>
      </form>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="[= $get_path->('/static/js/jquery-1.10.2.min.js') =]"></script>
    <script src="[= $get_path->('/static/js/jquery-ui-1.11.2.min.js') =]"></script>
    <script src="[= $get_path->('/static/lightbox/js/lightbox.js') =]"></script>
    <script src="[= $get_path->('/static/js/bootstrap.min.js') =]"></script>
    <script type="text/javascript" lang="javascript">
    $( document ).ready( function() {
      $("#form1").submit( function() {
        $("#btn-submit").attr("disabled","disabled");
        return true;
      } );
    } );
    </script>

  </body>

</html>
